*
{
    margin: 0px ;
    padding: 0px ;
}
html
{
    font-size: 10px ;
}
#navigationbar
{
   /* border: 1px solid black ;*/
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 10rem;
    width: 100%;
}
.logo
{
 /* border: 1px solid red;*/
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.logo img

{
    background-color: yellow;
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 2.0rem;

}
.navbar

{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul
{
    flex-basis: 90%;
    display: flex;
    flex-direction: row;

     list-style: none;
     
    /* border: 1px solid green;*/
   
}
.navbar ul li
{
   /* border: 2px solid blue;*/
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-family: 'Baloo 2', cursive;
    font-weight: bolder;
   
   
}
.navbar ul li a
{
    text-decoration: none;
   
  color: white;
   
}
.navbar ul li a:hover
{
   color: black;
   cursor: pointer;
}
.navbar ul li:hover
{
    background-color: tomato;
    color: black;
    cursor: pointer;
    font-size: 1.6rem;
}
#home
{
   background-image: url(images/home.jpg);
   background-position: center;
   background-size: cover;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    
   

}
#home h1
{
    font-family: 'Baloo 2', cursive;
    color: white;
    font-size: 4.0rem;
}
#home h1:hover
{
    color:tomato;
    font-size: 4.1rem
}
#home p
{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 1.5rem; 
    margin-top: 0.2rem; 
}
#home p:hover
{
    color:tomato;
    font-size: 1.6rem;
    
}
#home button
{
    padding: 0.5rem;
margin-top: 1rem;
border: 2px solid white;
color: white;
border-radius: 1rem;
background-color: #5574ec;
cursor: pointer;
font-size: 1.3rem;
font-family: 'Baloo 2', cursive;
}
#home button:hover
{
    background-color: tomato;
    color: white;
    border: 2px solid #5574ec;
    font-size: 1.4rem;
}



/*services*/
#service
{
   /* border: 1px solid black ;*/
   
    
    height: 30rem;
   /* margin: 1rem;*/
   
   
   
}
#service h1
{
   /* color: blue;*/
    font-size: 3.5rem;
    text-align: center;
   /* border: 1px solid yellow;*/
    font-family: 'Baloo 2', cursive;
}
#service h1:hover
{
    color:tomato;
    font-size: 3.6rem;
}
.servicerow
{
   /* border: 1px solid blueviolet;*/
    height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
    
}
.servicecolumn
{
    background-color: white;
    flex-basis: 30%;
    border: 2px solid blue;
    border-radius: 10px;
    

}
.servicecolumn img
{
    height: 15rem;
    width: 29rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    
}
.servicecolumn h2
{
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Baloo 2', cursive;
    margin-top: 0.5rem;
    margin-bottom: 0.9rem;
}
.servicecolumn h2:hover
{
    color: white;
    font-size: 2.4rem;
}
.servicecolumn p
{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 0.5rem;
}
.servicecolumn p:hover
{
    color: white;
    font-size: 1.3rem;
}
.servicecolumn:hover
{
    border: none;
    background-color: tomato;
   cursor:pointer;
   
}


/*clients section*/
#clients
{
    margin-top: 5rem;
   /* border: 1px solid black;*/
    height: 40rem;
    background: url(images/bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    
   
    
}
#clients h1
{
    font-size: 3.5rem;
    text-align: center;
   
    font-family: 'Baloo 2', cursive;
    margin-top: 5rem;
    padding-top: 10rem;
    
}
#clients h1:hover
{
    color:tomato;
    font-size: 3.6rem;
}
.clientsrow
{
   /* border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.clientsrow img
{
    height: 8rem;
    
}

/*contact*/

#contact{
    /*border: 2px solid red;*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: url(images/contactbg7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.6;
    
    z-index: -1;
}
#contact h1
{
    font-size: 3.5rem;
    text-align: center;
    
    color: black;
   
    font-family: 'Baloo 2', cursive; 
}
#contact h1:hover
{
    color:white;
    font-size: 3.6rem;
}
.contactform
{
   /*border: 1px solid black ;*/
    display: flex;
    flex-direction: column;
    margin-left: 25rem;
    margin-right: 25rem;
   

}
.contactform label
{
    font-size: 1.3rem;
    font-family: 'Fira Sans', sans-serif;
}
.contactform label:hover
{
    font-size: 1.4rem;
    font-family: 'Fira Sans', sans-serif;
    color: tomato;
}
.contactform input
{
    border-radius: 7px;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: thistle;
}
.contactform input:hover
{
    border: 1px solid tomato;
    color: tomato;
}
.contactform textarea
{
    border-radius: 7px;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.contactform textarea:hover
{
    border: 1px solid tomato;
    color: tomato;
}
.contactform button
{
    padding: 0.5rem;
margin-top: 1rem;
margin-bottom: 1rem;
border: 2px solid white;
color: white;
border-radius: 1rem;
background-color: #5574ec;
cursor: pointer;
font-size: 1.4rem;
font-family: 'Baloo 2', cursive;
width: 10rem;
margin-left: auto;
margin-right: auto;
}
.contactform button:hover
{
    color:blue;
    background-color: white;
    font-size: 1.5rem;
    border: 1px solid blue;
}



/*footer*/
.foot
{
    border: 1px solid black ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

